*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html ,body{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'sans-bold';
    src: url("../fonts/sans-bold.woff2");
}
@font-face {
    font-family: 'sans-conden-bold';
    src: url("../fonts/sans-condensed-bold.woff2");
}
@font-face {
    font-family: 'sans-regular';
    src: url("../fonts/sans-regular.woff2");
}